@media screen and (max-width: 450px) {
  .logo {
    height: 48px;
    margin-left: 1em;
    width: auto;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-title {
    align-self: center;
    margin-right: 1em;
  }

  .photo img {
    width: 100%;
  }

  .main-photo img {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
  }

  .project {
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
  }

  .project .photo {
    border: 2px solid green;
    width: 50%;
    margin: 5px;

  }

  .project .description {
    border: 2px solid blue;
    width: 50%;
    margin: 5px;
  }
}

@media screen and (min-width: 451px) {
  .main-container,
  .header-container {
    display: flex;
    flex-direction: row;
  }

  .header-container {
    justify-content: space-around;
  }

  .project {
    max-width: 33%;
    border: 1px solid red;
  }
}
