@media screen and (max-width: 450px) {
  .logo {
    height: 60px;
    width: auto;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .main-container {
    display: flex;
    margin: 10px;
    flex-direction: column;
  }

  .title>h2 {
    font-size: 36px;
  }

  .photo img {
    width: 100%;
  }

  .main-photo img {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
  }

  .project {
    display: flex;
    justify-content: space-around;
  }

  .project .photo {
    width: 40%;
    margin: 5px;

  }

  .project .description {
    width: 60%;
    margin: 5px;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  .header-container {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-title {
    text-align: end;
    margin-right: 10px;
  }

  .header-container h2 {
    font-size: 2em;
  }

  .header-container h4 {
    font-size: 1.5em;
  }

  .main-photo {
    display: none;
  }
}
