body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h4 {
  margin: 0;
  color: #2d3c49;
}

header,
main {
  margin: 0.5em;
}

header,
section,
main {
  box-sizing: border-box;
}

hr {
  border-top: 1px solid #2d3c49;
}
