body {
  font-family: "Raleway", sans-serif;
}
h1 {
  margin: 0;
  color: #7d97ad;
}
h2,
h3,
h4 {
  margin: 0;
  color: #2d3c49;
}

header,
section,
main {
  box-sizing: border-box;
}

hr {
  border-top: 1px solid #2d3c49;
}

img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
